body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 52px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.name-colour {
    color: rgb(243, 32, 32);
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 80%;
}


.link-button {
    text-decoration: none;
    background-color: rgb(0, 225, 255);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.top-banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

#big {
    padding-right: 7%;
}